/* index.html */
/*body {
    background-color: deepskyblue;
}*/

/* Menu.js */

.card{
    background: rgba(33,133,208,0.5);
}

.menuList img {
    height: 12rem;
    width: 12rem;
}



/* Chat.js */

div.chat {
    width: 85%;
    float: right;
    background-color: deepskyblue;
    padding: 0 10% 0 15%;

}

div.contactoChat {
    width: 80%;
}

div.inputs {
    position: relative;
    margin-bottom: 2%;
}


/* Contactos.js */



/* Ajustes.js */



/* Perfil.js */
    /* ModalPerfil.js */
    /*.Modal img {
        height: 10%;
        width: 10%;
    }*/
    .imagenPerfil img {
        height: 14rem;
        width: 14rem;
    }

    #primerModal {
        z-index: 2;
    }

    #segundoModal {
        z-index: 1;
    }

/* Mensaje.js */
    .enviados {
        float: right;
    }